<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basic 88</title>
    <link rel="stylesheet" href="./styles.css">
</head>

<body>
    <div class="wrapper row1">
        <header id="header" class="clear">
            <div id="hgroup">
                <h1>
                    <a href="#">Basic 88</a>
                </h1>
                <h2>Free HTML5 Website Template</h2>
            </div>
            <nav>
                <ul>
                    <li>Text Link</li>
                    <li>Text Link</li>
                    <li>Text Link</li>
                    <li>Text Link</li>
                    <li class="last">Text Link</li>
                </ul>
            </nav>
        </header>
    </div>
    <div class="wrapper row2">
        <div id="container" class="clear">
            <section id="slider">
                <a href="#">
                    <img src="./images/960x360.gif" alt="Template Demo Image">
                </a>
            </section>
            <div id="homepage">
                <section id="services" class="clear">
                    <article class="one_third">
                        <figure>
                            <img src="./images/290x180.gif" alt="">
                            <figcaption>
                                <h2>Indonectetus facilis</h2>
                            </figcaption>
                            <p>
                                "Nullamlacus dui ipsum conseque loborttis non euisque morbi penas dapibulum orna."
                            </p>
                            <footer class="more">
                                <a href="#">Read More >></a>
                            </footer>
                        </figure>
                    </article>
                    <article class="one_third">
                        <figure>
                            <img src="./images/290x180.gif" alt="">
                            <figcaption>
                                <h2>Indonectetus facilis</h2>
                            </figcaption>
                            <p>
                                "Nullamlacus dui ipsum conseque loborttis non euisque morbi penas dapibulum orna."
                            </p>
                            <footer class="more">
                                <a href="#">Read More >></a>
                            </footer>
                        </figure>
                    </article>
                    <article class="one_third lastbox">
                        <figure>
                            <img src="./images/290x180.gif" alt="">
                            <figcaption>
                                <h2>Indonectetus facilis</h2>
                            </figcaption>
                            <p>
                                "Nullamlacus dui ipsum conseque loborttis non euisque morbi penas dapibulum orna."
                            </p>
                            <footer class="more">
                                <a href="#">Read More >></a>
                            </footer>
                        </figure>
                    </article>
                </section>
                <section id="intro" class="last clear">
                    <article>
                        <figure>
                            <img src="./images/450x250.gif" alt="">
                            <figcaption>
                                <h2>Indonectetus facilis leo nibh</h2>
                                <p>
                                    "This is a W3C standards compliant free HTML5 website template from "
                                    <a href="#" title="Free Website Templates">OS Template</a>
                                    . This template is distributed using a
                                    <a href="#">website template licence</a>
                                    "."
                                </p>
                                <p>
                                    "You can use and modify the template for both personal and commercial use. You must
                                    keep all copyright information and credit links in the template and associated
                                    files. For more HTML5 templates visit free "
                                    <a href="#">website templates</a>
                                    "."
                                </p>
                                <footer class="more">
                                    <a href="#">Read More >></a>
                                </footer>
                            </figcaption>
                        </figure>
                    </article>
                </section>
            </div>
        </div>
    </div>
    <div class="wrapper row3">
        <div id="footer" class="clear">
            <section class="one_quarter">
                <h2 class="title">Link Block</h2>
                <nav>
                    <ul>
                        <li>
                            <a href="#">Lorum ipsum dolor sit</a>
                        </li>
                        <li>
                            <a href="#">Amet consectetur</a>
                        </li>
                        <li>
                            <a href="#">Praesent vel sem id</a>
                        </li>
                        <li>
                            <a href="#">Curabitur hendrerit est</a>
                        </li>
                        <li>
                            <a href="#">Sed a nulla urna </a>
                        </li>
                    </ul>
                </nav>
            </section>
            <section class="one_quarter">
                <h2 class="title">Link Block</h2>
                <nav>
                    <ul>
                        <li>
                            <a href="#">Lorum ipsum dolor sit</a>
                        </li>
                        <li>
                            <a href="#">Amet consectetur</a>
                        </li>
                        <li>
                            <a href="#">Praesent vel sem id</a>
                        </li>
                        <li>
                            <a href="#">Curabitur hendrerit est</a>
                        </li>
                        <li>
                            <a href="#">Sed a nulla urna </a>
                        </li>
                    </ul>
                </nav>
            </section>
            <section class="one_quarter">
                <h2 class="title">Link Block</h2>
                <nav>
                    <ul>
                        <li>
                            <a href="#">Lorum ipsum dolor sit</a>
                        </li>
                        <li>
                            <a href="#">Amet consectetur</a>
                        </li>
                        <li>
                            <a href="#">Praesent vel sem id</a>
                        </li>
                        <li>
                            <a href="#">Curabitur hendrerit est</a>
                        </li>
                        <li>
                            <a href="#">Sed a nulla urna </a>
                        </li>
                    </ul>
                </nav>
            </section>
            <section class="one_quarter lastbox">
                <h2 class="title">Link Block</h2>
                <nav>
                    <ul>
                        <li>
                            <a href="#">Lorum ipsum dolor sit</a>
                        </li>
                        <li>
                            <a href="#">Amet consectetur</a>
                        </li>
                        <li>
                            <a href="#">Praesent vel sem id</a>
                        </li>
                        <li>
                            <a href="#">Curabitur hendrerit est</a>
                        </li>
                        <li>
                            <a href="#">Sed a nulla urna </a>
                        </li>
                    </ul>
                </nav>
            </section>
        </div>
    </div>
    <div class="wrapper row4">
        <footer id="copyright" class="clear">
            <p class="f1_left">
                Copyright © 2009 - 2022 - All Rights Reserved -
                <a href="#">Domain name</a>
            </p>
            <p class="f1_right">
                Template by
                <a href="#">OS Templates</a>
            </p>
        </footer>
    </div>
</body>

</html>